<div>
  <ul class="tree vertical">

  <li>
    <ng-container *ngFor="let user of users">


      <div *ngIf="user.code.length === 4" class="card text-center border-0">
        <img [src]="'assets/'+user.imagePath" height="100px" class="w-100 mb-0" alt="">
        <div class="card-body m-0 py-2">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.code}}</p>
        </div>
      </div>
    </ng-container>
			<ul>
        <ng-container *ngFor="let user of userSorted; let i = index">

          <li class="wow animated slideInRight" *ngIf="user.code.length > 4" [ngStyle]="{'animation-delay':'0.2'+i+incrementSeconds}">
            <div   class="card text-center border-0">
              <img [src]="'assets/'+user.imagePath" height="100px" class="w-100 mb-0" alt="">
              <div class="card-body m-0 py-2">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">{{user.code | slice:-4}}</p>
              </div>
            </div>


            
          </li>
        </ng-container>


			</ul>
		</li>
	</ul>
</div>

