
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tree-hierarchy-primary: mat.define-palette(mat.$indigo-palette);
$tree-hierarchy-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tree-hierarchy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tree-hierarchy-theme: mat.define-light-theme((
  color: (
    primary: $tree-hierarchy-primary,
    accent: $tree-hierarchy-accent,
    warn: $tree-hierarchy-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tree-hierarchy-theme);

/* You can add global styles to this file, and also import other style files */
// body {
//   display:flex;
//   flex-wrap:wrap;
//   font-family: Arial;
//   justify-content: center;
// }

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';

h3 {
  text-align:center;
  padding: 0 10px;
}
.tree {
  $color: #222;
  $border-color: #ddd;
  $background-color: #eee;
  $border-weight: 1px;
  $margin: 12px;

  margin: $margin * 1.5;
  padding: 0;

  &:not(:empty):before, &:not(:empty):after,
  ul:not(:empty):before, ul:not(:empty):after,
  li:not(:empty):before, li:not(:empty):after {
    display:block;
    position:absolute;
    content:"";
  }

  ul, li {
    position: relative;
    margin:0;
    padding:0;
  }

  li {
    list-style:none;
  }

  li>div {
    background-color:$background-color;
    color:$color;
    padding:5px;
    display:inline-block;
  }

  &.cascade {
    li {
      margin-left: 2 * $margin;

      div {
        margin-top:$margin;
      }

      &:before {
        border-left: $border-weight solid $border-color;
        height:100%;
        width:0;
        top:0;
        left:-$margin;
      }

      &:after {
        border-top: $border-weight solid $border-color;
        width: $margin;
        left:-$margin;
        top: $margin * 2;
      }

      &:last-child:before {
        height:$margin * 2;
        top:0;
      }
    }

    &>li {

      &:first-child:before {
        top: $margin * 2;
      }

      &:only-child {
        margin-left:0;
      }

      &:only-child:before, &:only-child:after {
        content:none;
      }
    }
  }

  &.horizontal {
    li {
      display: flex;
      align-items: center;
      margin-left: $margin * 2;

      div {
        margin:$margin/2 0;
      }

      &:before {
        border-left: $border-weight solid $border-color;
        height: 100%;
        width:0;
        top:0;
        left: -$margin;
      }

      &:first-child:before {
        height:50%;
        top:50%;
      }

      &:last-child:before {
        height:50%;
        bottom:50%;
        top:auto;
      }

      &:after, ul:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: $margin;
        top: 50%;
        left: -$margin;
      }

      &:only-child:before {
        content:none;
      }

      ul:after {
        left: 0;
      }
    }

    &>li {
      &:only-child {
        margin-left:0;
      }

      &:only-child:before, &:only-child:after {
        content:none;
      }
    }
  }

  &.vertical {
    display:flex;

    ul {
      display:flex;
      justify-content: center;
    }

    li {
      display:flex;
      flex-direction: column;
      align-items: center;

      div {
        margin: $margin $margin/2;
      }

      &:before {
        border-left: $border-weight solid $border-color;
        height: $margin;
        width: 0;
        top: 0;
      }

      &:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: 100%;
      }

      &:first-child:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: 50%;
        left: 50%;
      }

      &:last-child:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: 50%;
        right: 50%;
      }

      &:only-child:after {
        content:none;
      }

      ul:before {
        border-left: $border-weight solid $border-color;
        height: $margin;
        width: 0;
        top: -$margin;
      }
    }

    &>li {
      &:only-child:before, &:only-child:after {
        content:none;
      }
    }
  }

  %subcascade {
    flex-direction:column;
    align-items:start;
    padding: 0 $margin;

    &:before {
      left:2*$margin;
    }

    &:after {
      left:0;
    }

    &:first-child:after {
      left:2*$margin;
      width:100%;
    }

    &:last-child:after {
      left:0;
      width:2*$margin;
    }

    ul, li {
      display:block;
    }

    ul:before, ul:after,
    li:before, li:after {
      border:none;
    }

    div {
      margin:0;
      margin-top:$margin;
    }

    li {
      margin-left: 2 * $margin;

      &:before {
        border-left: $border-weight solid $border-color;
        height:100%;
        width:0;
        top:0;
        left:-$margin;
      }

      &:after {
        border-top: $border-weight solid $border-color;
        width: $margin;
        height: 0;
        left:-$margin;
        top: $margin * 2;
        content: "";
      }

      &:last-child:before {
        height:$margin * 2;
        top:0;
      }
    }
  }

  &.vertical .cascade {
    @extend %subcascade;
  }

  &.vertical.cascade-1 {
    &>li {
      @extend %subcascade;
    }
  }

  &.vertical.cascade-2 {
    &>li>ul>li {
      @extend %subcascade;
    }
  }

  &.vertical.cascade-3 {
    &>li>ul>li>ul>li {
      @extend %subcascade;
    }
  }

  &.vertical.cascade-4 {
    &>li>ul>li>ul>li>ul>li {
      @extend %subcascade;
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
